In [2]:
import caption_contest_data as ccd
import numpy as np
from utils.thompson import ThompsonSampling

In [3]:
contests = list(ccd.summary_ids())
cont = []
contests = [i for i in contests if type(i) == int]
print(len(contests))

168

In [15]:
valid_exp = []
for idx,i in enumerate(contests):
    df = ccd.summary(i)
    if ((df.query('rank == 10')['count'] > 1000).squeeze()).any():
        print(df.query('rank == 10')['count'])
        valid_exp.append(i)

9    1806
Name: count, dtype: int64
9    2377
Name: count, dtype: int64
9    1767
Name: count, dtype: int64
9    1367
Name: count, dtype: int64
9    1396
Name: count, dtype: int64
9    4211
Name: count, dtype: int64
9    9387
Name: count, dtype: int64
9    3000
Name: count, dtype: int64
9    1501
Name: count, dtype: int64
9    3514
Name: count, dtype: int64
9    1866
Name: count, dtype: int64
9    1456
Name: count, dtype: int64
9    2507
Name: count, dtype: int64
9    2152
Name: count, dtype: int64
9    2129
Name: count, dtype: int64
9    3085
Name: count, dtype: int64
9    4792
Name: count, dtype: int64
9    5933
Name: count, dtype: int64
9    3286
Name: count, dtype: int64
9    5150
Name: count, dtype: int64
9    1733
Name: count, dtype: int64
9    3369
Name: count, dtype: int64
9    2810
Name: count, dtype: int64
9    10054
Name: count, dtype: int64
9    4699
Name: count, dtype: int64
9    2516
Name: count, dtype: int64
9    9572
Name: count, dtype: int64
9    7967
Name: count, dtype: int64
9    9973
Name: count, dtype: int64
9    5467
Name: count, dtype: int64
9    7898
Name: count, dtype: int64
9    8052
Name: count, dtype: int64
9    4033
Name: count, dtype: int64
9    7072
Name: count, dtype: int64
9    4800
Name: count, dtype: int64
9    7950
Name: count, dtype: int64
9    9812
Name: count, dtype: int64
9    4584
Name: count, dtype: int64
9    6598
Name: count, dtype: int64
9    6594
Name: count, dtype: int64
9    8142
Name: count, dtype: int64
9    2357
Name: count, dtype: int64
9    9664
Name: count, dtype: int64
9    2996
Name: count, dtype: int64
9    8680
Name: count, dtype: int64

In [28]:
idx = valid_exp[0]
df = ccd.summary(idx).query('rank < 10')

print(np.array(df['funny'])/np.array(df['count']))
df

[0.33528969 0.39028777 0.3003603  0.25489212 0.28342974 0.33083692
 0.27422957 0.2430614  0.21457906]

,rank,funny,somewhat_funny,unfunny,count,score,precision,contest,caption
0,1,2228,2070,2347,6645,1.982092,0.010177,554,You were with Ringling Brothers? I was with Le...
1,2,217,84,255,556,1.931655,0.039002,554,"Well, it suits you better than the president c..."
2,3,917,965,1171,3053,1.916803,0.014894,554,"Sure, it's all fun and games. Until one of you..."
3,4,508,794,691,1993,1.908179,0.017256,554,"Hey, all I know is that they left in a very sm..."
4,5,833,996,1110,2939,1.905750,0.014900,554,"Would you like that straight up, on the rocks,..."
5,6,1767,1245,2329,5341,1.894776,0.011897,554,Shouldn't you be at your confirmation hearing?
6,7,614,683,942,2239,1.853506,0.017347,554,Don't let it get you down. There were only so ...
7,8,289,392,508,1189,1.815812,0.023145,554,"Well, whoever they hire to replace you is goin..."
8,9,418,747,783,1948,1.812628,0.017281,554,It's not that kind of happy hour.